@charset "UTF-8";
html,body{
    max-width: 750px;
    margin: 0 auto;
	
}
*{
	/* cursor: url('../image/menghuan.ico'), auto; */
}
/* 全局样式 */

.mui-content{
    padding: .3rem;
}


.Vm-btn{
    margin:1rem .2rem .4rem;
    text-align: center;
    line-height: .88rem;
    background: #00a7c1;
    color: #fff;
    border-radius: 5px;
    font-size: .32rem;
}


/* 分页 */
.Vm_pagination{padding: .6rem 0;box-sizing: border-box;}
.Vm_pagination .Vm_page{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: .28rem;
    text-align: center;
    margin-bottom: .3rem;
}
.Vm_pagination .Vm_page .Vm-pagination__item{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
    min-width: .36rem;
    color: #00a7c1;
    background-color: #fff;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 4px;
    padding: .15rem 0;
    margin: 0 .08rem;
}
.Vm_pagination .Vm_page .Vm-pagination__item.Vm-pagination__item--active{
    color: #fff;
    background-color: #00a7c1;
}
.Vm-pagination__item--disabled{
    color: #666 !important;
    background-color: #f8f8f8 !important;
    opacity: 0.6;
}
.Vm_pagination .Vm-msg{
    font-size: .28rem;
    color: #666 !important;
}
.col-sm-4{
    width: 30.33333333%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.col-sm-8{
    width: 66.66666667%;
    float: left;    
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.form-horizontal .form-group {
    margin-bottom: .26rem !important;
    overflow: hidden;
}
.form-horizontal .control-label {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: right;
}
.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    display: none;
    transition: all .3s;
}
.modal-backdrop.fade{display: block;opacity: .5;}
.modal-open{overflow: hidden;}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    filter: alpha(opacity=0);
    transition: all .3s;
}
.modal.fade{
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog{
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    text-transform: none;
    overflow: visible;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: .36rem;
    display: flex;
    align-items: center;
}
.modal-title img{
    height: .36rem;
    margin: 0 .1rem;
}
.form-group {
    margin-bottom: 15px;
}
.form-group:last-child{
    margin-bottom: 0;
}
.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    resize: none;
}
textarea.form-control {
    height: auto;
}

.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer.flex{
    display: flex;justify-content: space-between;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    color: #fff !important;
    background-color: #00a7c1;
    border-color: #00a7c1;
}
.btn-info {
    color: #fff !important;
    background-color: #5199fc;
    border-color: #5199fc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #05a1b9;
    border-color: #05a1b9;
}
.btn-info:hover {
    color: #fff !important;
    background-color: #438ffa;
    border-color: #438ffa;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-block{
    display: block;
    margin: .4rem auto 0;
    overflow: hidden;
}

.btn-success{
    color: #fff !important;
    background-color: #13b46a;
    border-color: #13b46a;
}

.btn-text{
    color: #00a7c1;
    background: transparent;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}



/* Case-Details css */
.Case-Details{
    position: relative;
    background: url(../img/case-top-bgImg.png) no-repeat center top;
    background-color: #fff;
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.JPP-Case-Details{
    position: relative;
    background-color: #fff;
    background-size: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: .1rem;
}
.Case-Details .body,
.JPP-Case-Details .body{
    margin: .3rem .4rem;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.13);
    padding: .4rem;
    box-sizing: border-box;
}
.Case-Details .body .info,
.JPP-Case-Details .body .info{
    position: relative;
    overflow: hidden;
}
.Case-Details .body .info .lt,
.JPP-Case-Details .body .info .lt{
    width: 1.83rem;
    height: 2.28rem;
    overflow: hidden;
    border-radius: .1rem;
    background: #f5f5f5;
    float: left;
}  
.Case-Details .body .info .lt img,
.JPP-Case-Details .body .info .lt img{
    width: 100%;
    height: 100%;
}
.Case-Details .body .info .lr,
.JPP-Case-Details .body .info .lr{
    margin-left: 2.4rem;
}
.mui-cell{display: flex;box-sizing: border-box;font-size: .26rem;color: #666;padding: .088rem 0;overflow: hidden;line-height: .4rem}
.mui-laber{
    width: 1.5rem;
    margin-right: .18rem;
    text-align: justify;
    text-align-last: justify;
}
.mui-body{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.Case-Details .body .list{
    margin-top: .15rem;
}
.grid{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.grid-item{
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.Case-Details .body .grid-item,
#Emrecords .section1 .grid-item
{
    width: 20%;
}
.Case-Details .body .grid-item .grid-item__icon,
#clinical .section1 .grid-item .grid-item__icon{
    width: .78rem;
    height: .78rem;
    margin: .25rem auto;
}
#Emrecords .section1 .grid-item .grid-item__icon{
    width: .96rem;
    height: .93rem;
    margin: 0 auto .2rem;
}
.Case-Details .body .grid-item .grid-item__icon img,
.grid-item .grid-item__icon img{
    width: 100%;height: 100%;vertical-align: top;
}
.Case-Details .body .grid-item .grid-item__text,
.grid-item .grid-item__text{
    font-size: .26rem;
    color: #666;
    text-align: center;
}



.Case-Details .foote{
    padding: .9rem .2rem;
}
.Vm_button{
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    width: 100%;
    background: #00a7c1;
    color: #fff;
    border-radius: .1rem;
}

/* Message css */
#message{padding: .3rem;padding-bottom: 1.2rem;}
#message .reply, #message .ask {
    padding-bottom: .7rem;
}
#message .time {
    font-size: .24rem;
    color: #999;
    margin-bottom: .3rem;
    text-align: center;
}
#message .msg {
    position: relative;
}
#message .msg>img {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    float: left;
}
#message .reply .msg .name {
    position: absolute;
    font-size: .24rem;
    color: #999;
    top: -.1rem;
    left: .9rem;
}
#message .msg>p {
    float: left;
    margin: 0 .4rem;
    padding: .25rem;
    background: #fff;
    font-size: .3rem;
    position: relative;
    border-radius: .12rem;
    max-width: 5rem;
    min-height: .8rem;
    box-sizing: border-box;
    word-wrap: break-word;
}
#message .msg>p {
    top: .3rem;
}
.ask .msg img, .ask .msg p, .ask .msg {
    float: right !important;
}
.reply:after, .ask:after, .msg:after {
    content: "";
    clear: both;
    display: table;
}
#Messagefooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background-color: #fff;
    max-width: 750px;
    margin: 0 auto;
}
#Messagefooter .send_wrap {
    display: -webkit-flex;
    display: flex;
    padding: 0.2rem;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
#Messagefooter .send_wrap .send_box {
    position: relative;
    display: block;
    height: auto;
    padding: 0.14rem 0;
    margin: 0 0.2rem;
    -webkit-flex: 1;
    flex: 1;
    font-size: 0.3rem;
    background: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}
#Messagefooter .send_wrap .send_input {
    width: 100%;
    padding: 0 0.2rem;
    color: #333;
    min-height: 0.4rem;
    max-height: 1.6rem;
    line-height: 0.4rem;
    overflow: auto;
}
#sendMessage {
    width: 1.32rem;
    height: .68rem;
    background: #f3f3f3;
    cursor: pointer;
    color: #000;
}
#sendMessage.active{
    background: #00a7c1;color: #fff;
}
#message .ask p{
    background: #00a7c1;
    color: #fff;
}
#message .ask p i{
    display: block;
    width: 0;
    height: 0;
    border: .2rem solid;
    border-color: #00a7c1 transparent transparent ;
    position: absolute;
    right: -.1rem;
    top: 0;
}
#message .reply p i{
    display: block;
    width: 0;
    height: 0;
    border: .2rem solid;
    border-color: #fff transparent transparent ;
    position: absolute;
    left: -.1rem;
    top: 0;
}

/* JPP */
.mui-bar-nav{
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: .9rem;
    padding: .1rem .2rem 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
    font-size: .28rem;
    color: #666;
    line-height: .8rem;
}
.mui-bar-nav .mui-control-item{box-sizing: border-box;position: relative;}
.mui-bar-nav .mui-control-item.active{
    color: #00a7c1;
}
.mui-bar-nav .mui-control-item.active::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00a7c1;
    height: 2px;
}

/*  */
#Emrecords{padding: .3rem .2rem;}
#Emrecords .section1{padding-bottom: .3rem;}
#Emrecords .section2 .ul .li{
    box-sizing: border-box;
    padding:.2rem .3rem;
    background: #fff;
    display: block;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-top: .3rem;
    font-size: .24rem;
    color: #333;
}
#Emrecords .section2 .ul .li .mui-body{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* body>div padding */
#Interview,
#Medicalrecords .section1,
#collect,
#screening,
#emergency .section2,
#access,
#Doctororder .section2{
    padding: .3rem .2rem;
    box-sizing: border-box
}
/* 今日访视 */
#Interview .section1 ul,
#Medicalrecords .section1 ul,
#collect .section1 ul,
#screening .section1 ul{
    overflow: hidden;
}
#Interview .section1 ul li,
#Medicalrecords .section1 ul li,
#screening .section1 ul li,
#collect .section1 ul li{
    position: relative;
    width: 48.5%;
    box-sizing: border-box;
    padding:.1rem .2rem;
    border-radius: 5px;
    float: left;
    margin-bottom: .2rem;
    border-radius: 6px;
    opacity: 0.8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    border: 1px solid;
}
#collect .section1 ul li{
    padding: 0;
}
#collect .section1 ul li>div{
    padding:.1rem .2rem;
}



#Interview .section1 ul li .mui-cell,
#Medicalrecords .section1 ul li .mui-cell,
#collect .section1 ul li .mui-cell,
#screening .section1 ul li .mui-cell{
    color: #fff;
}
#Interview .section1 ul li .mui-laber,
#Medicalrecords .section1 ul li .mui-laber,
#collect .section1 ul li .mui-laber,
#screening .section1 ul li .mui-laber
{
    width: 1.2rem;
}
#Interview .section1 ul li:nth-child(odd),
#Medicalrecords .section1 ul li:nth-child(odd),
#collect .section1 ul li:nth-child(odd),
#screening .section1 ul li:nth-child(odd){
    margin-right: 3%;
}
#Interview .section1 ul li:nth-child(4n-3),
#screening .section1 ul li:nth-child(4n-3)
{
    background-image: -moz-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
    background-image: -webkit-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
    background-image: -ms-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
    border-color: rgb(255,140,0);
}
#Interview .section1 ul li:nth-child(4n-2),
#screening .section1 ul li:nth-child(4n-2){
    background-image: -moz-linear-gradient( -50deg, rgb(67,214,126) 0%, rgb(44,188,65) 100%);
    background-image: -webkit-linear-gradient( -50deg, rgb(67,214,126) 0%, rgb(44,188,65) 100%);
    background-image: -ms-linear-gradient( -50deg, rgb(48, 216, 115) 0%, rgb(44,188,65) 100%);
    border-color: rgb(44,188,65);
}
#Interview .section1 ul li:nth-child(4n-1),
#screening .section1 ul li:nth-child(4n-1){
    background: #49a8f8;
    border-color: #49a8f8;
}
#Interview .section1 ul li:nth-child(4n),
#screening .section1 ul li:nth-child(4n){
    background: #7b94ff;
    border-color: #7b94ff;
}
#Interview .section1 ul li .ewm{
    position: absolute;
    width: .6rem;
    height: .42rem;
    background: url(../img/ewm_bg.png) no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
    border-bottom-left-radius: 6px;
}
  
/* Medicalrecords */
#Medicalrecords .section1 ul li:nth-child(4n-3){
    background: url(../img/ju.png) no-repeat ;
    background-size: cover;
}
#Medicalrecords .section1 ul li:nth-child(4n-2){
    background: url(../img/lan.png) no-repeat ;
    background-size: cover;
}
#Medicalrecords .section1 ul li:nth-child(4n-1){
    background: url(../img/lv.png) no-repeat ;
    background-size: cover;
}
#Medicalrecords .section1 ul li:nth-child(4n){
    background: url(../img/zi.png) no-repeat ;
    background-size: cover;
}
.Vm_dropdown{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .88rem;
    background-color: #fff;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 1px 6px #ccc;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 0;
 
    
}
.dropdown-menu__title{
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 8px;
    color: #00a7c1;
    font-size: .3rem;
    line-height: .36rem;
}
.Vm_dropdown .dropdown-menu__title::after {
    position: absolute;
    top: 50%;
    right: -4px;
    margin-top: -5px;
    border: 3px solid;
    border-color: transparent transparent currentColor currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.8;
    content: '';
}
.Vm-dropdown-item{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10;
    display: none;
}
.Vm-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2025;
    position: absolute;
    animation-duration: 0.2s;
}
.Vm-dropdown-item__content{
    transition-duration: 0.2s;
    z-index: 2044;
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid #ebedf0;
    background: #fff;
    max-height: 60vh;
    overflow-y: scroll;
}
.Vm-dropdown-item__content .Vm-dropdown-item__option{
    background: #fff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: .2rem;
    overflow: hidden;
    color: #323233;
    font-size: .28rem;
    line-height: .48rem;
}
.Vm-dropdown-item__content .Vm-dropdown-item__option::after{
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: .2rem;
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.Vm-dropdown-item__content .Vm-dropdown-item__option input{
    width: 100%;line-height: .4rem;padding: 0 .2rem;
}


/*  */
#collect .section1 ul li:nth-child(4n-3){
    background-image: -moz-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
    background-image: -webkit-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
    background-image: -ms-linear-gradient( -50deg, rgb(255,164,54) 0%, rgb(255,140,0) 100%);
}
#collect .section1 ul li:nth-child(4n-2){
    background-image: -moz-linear-gradient( -50deg, rgb(67,214,126) 0%, rgb(44,188,65) 100%);
    background-image: -webkit-linear-gradient( -50deg, rgb(67,214,126) 0%, rgb(44,188,65) 100%);
    background-image: -ms-linear-gradient( -50deg, rgb(48, 216, 115) 0%, rgb(44,188,65) 100%);
}
#collect .section1 ul li:nth-child(4n-1){
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#collect .section1 ul li:nth-child(4n){
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}
#collect .section1 ul li>div.foot{
    padding: 0;
    height: .68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,.15);
}
#collect .section1 ul li>div.foot span{
    display: block;
    flex: 1;
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#collect .section1 ul li>div.foot span::before{
    content: "";
    width: 1px;
    height: 100%;
    background: #f5f5f5;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
} 
#collect .section1 ul li>div.foot span:last-child::before{
    display: none;
} 
#collect .section1 ul li>div.foot span img{
    width: .3rem;
    max-height: .3rem;
}
#collect .heade h1{
    display: flex;
    justify-content: space-between;
    font-size: .28rem;
    color: #00a7c1;
}
#collect .heade .form,
#screening .form,
#Doctororder .form{
    margin: .3rem 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#screening .form{margin-top: 0}
#Doctororder .form{padding: .3rem .2rem;margin: 0;border-bottom: 1px solid #e6e6e6;align-items: center;}
#Doctororder .form .input{
    position: relative;
}
/* #Doctororder .form .input::after {
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -5px;
    border: 3px solid;
    border-color: transparent transparent currentColor currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.8;
    content: '';
} */
#collect .heade .form input,
#screening .form input,
#Doctororder .form input{
    height: .6rem;
    line-height: .6rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 4px;
    width: 2.78rem;
    background-color: #fff;
}
#Doctororder .form input{text-align: center;font-size: .26rem}
#collect .heade .form .button,
#screening .form .button,
#Doctororder .form .button{
    width: .96rem;
    padding: .1rem 0;
    background: #bfbfbf;
    color: #fff;
    font-size: .28rem;
    border-radius: 4px;
    text-align: center;
    line-height: normal;
}

/*  */
#clinical .section1{
    padding: .3rem;
    box-sizing: border-box;
    position: relative;
}
#clinical .section1::before{
    content:"";
    width: 100%;
    height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #00a7c1;
}
#clinical .section1 .grid-item{width: 25%}
#clinical .section1 .grid{
    padding-bottom: .3rem;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background: #fff;
}
#clinical .section2{
    padding: .3rem .2rem;
}
#clinical .section2 ul li{
    box-sizing: border-box;
    margin-bottom: .3rem;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    height: 2.38rem;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#clinical .section2 ul li .icon{
    width: 2.3rem;
    height: 100%;
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
}
#clinical .section2 ul li .content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    padding: 0 .2rem;
    box-sizing: border-box;
}
#clinical .section2 ul li .content .mui-laber{
    width: 1.1rem;
}
#clinical .section2 ul li .content .mui-body{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#clinical .section2 ul li .handel{
    width: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#clinical .section2 ul li .handel a{
    display: block !important;
    text-align: center;
    line-height: .45rem;
    font-size: .22rem;
    color: #999;
    width: .88rem;
    height: .45rem;
    border: 1px solid rgb( 203, 203, 203 );
    border-radius: 4px;
    margin-bottom: .2rem;
}
#clinical .section2 ul li .handel a:last-child{margin-bottom: 0}
  
/* emergency */
#emergency .section1 ul li,
#Doctororder .section1 ul li,
#patiente .section1 ul li{
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: .3rem .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#emergency .section1 ul li .lt,
#Doctororder .section1 ul li .lt,
#patiente .section1 ul li .lt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    margin-right: 0.3rem;
}
#emergency .section1 ul li .lt .mui-laber,
#Doctororder .section1 ul li .lt .mui-laber,
#patiente .section1 ul li .lt .mui-laber{
    width: .55rem;
}
#emergency .section1 ul li .rt,
#Doctororder .section1 ul li .rt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#emergency .section1 ul li .rt span,
#Doctororder .section1 ul li .rt span{
    padding:.14rem .18rem;
    background: #00a7c1;
    color: #fff;
    font-size: .24rem;
    border-radius: 4px;
    width: 1.4rem;
    text-align: center;
    line-height: normal;
}
#patiente .section2{padding: .3rem .2rem}
#emergency .section1 ul li .rt span.dislaber,
#Doctororder .section1 ul li .rt span.dislaber{background: #999;}
#Doctororder .section1 ul li .rt span.danger{background: #f56c6c;}
.created{
    background: url(../img/xjerweima.png);
    width: 1.7rem;
    height: .65rem;
    line-height: .65rem;
    background-size: cover;
    float: right;
    margin-bottom: .3rem;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: .28rem;
    padding-right: .2rem;
}
.clear{
    width: 100%;height: 1px;clear: both;
}
#screening .section1 ul li{padding: 0;position: relative;overflow: hidden;}
#screening .section1 ul li .lf{
    width: 80%;
    padding: .1rem .2rem;
    box-sizing: border-box;
}
#screening .section1 ul li .rt{
    width: 20%;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#screening .section1 ul li .rt span{
    display: block;
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: .15rem;
    background-size: cover !important;
    cursor: pointer;
}
#screening .section1 ul li .rt span:first-child{
    margin-top:0;
}
#screening .section1 ul li.normals .lf{
    width: 100%;
}
#screening .section1 ul li.normals .rt{
    display: none;
}
#screening .section1 ul li .rt span.primary{
    background: url(../img/tongg.png) no-repeat center center;
}
#screening .section1 ul li .rt span.danger{
    background: url(../img/butongg.png) no-repeat center center;
}
#screening .section1 ul li .rt span.warning{
    background: url(../img/shuaxin.png) no-repeat center center;
}
/* 日历 css */
.comfire_date,
.goback_date{
    line-height: 24px;
    width: 60px;
    color: #fff;
    position: absolute;
    right: 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    top: 13px;
    border: 1px solid #00a7c1;
    background-color: #00a7c1;
    border-radius: 13px;
}
.goback_date{
    left: 15px;
    background: #999;
    border-color: #999;
}
#firstSelect{
    display: flex;align-items: center;
}
/* patiente */
#patiente .add{
    position: fixed;
    bottom: 10vh;
    right: .3rem;
    width: .88rem;
    height: .88rem;
    border-radius: 50%;
    text-align: center;
    line-height: .88rem;
    background: #00a7c1;
    color: #fff;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 12px rgba(0, 173, 181, 0.8);
}
/* casehistory */
.casehistory .section1 ul li .message{
    position: absolute;
    right: .1rem;
    top: .1rem;
    width: .3rem;
    height: .3rem;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(202, 135, 199, 0.8);
}
/* #access */
#access table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: '微软雅黑', Arial;
    font-weight: inherit;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    table-layout:fixed;
}
#access table td,
#access table th{
    width: auto;
    position: relative;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 14px;
    text-align: left;
    text-align: center;
    color: #666;
    padding: .1rem;
    position: relative;
}
#access table th{
    color: #333;
    background-color: #e4e4e4;
}
#access table td:first-child{
    padding-right: .7rem;
}
#access table td:first-child .btn{
    padding: .1rem;
    background: #ff8b3c;
    color: #fff;
    position: absolute;
    right: .1rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}
.codelist .item{
    text-align: center;
    padding: .2rem;
    box-sizing: border-box;
}
.codelist .item .code{
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/erweim@2x.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: .1rem;
    box-sizing: border-box;
}
.codelist .item .code img{
    width: 100%;
    height: 100%;
}
.codelist .item h6{
    font-size: .28rem;
    color: #666;
    line-height: .6rem;
}